* {
  background-color: #F9F9F9;
}
.content-section {
  /*padding: 10px 1.0875rem;*/

  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}
.header {
  background: #212F3D;
  margin-bottom: '1.45rem';
}
.top-nav {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  float: right;
  font-size: 80%;
  margin: 10px;
}
@media max-width: 500px {
  .top-nav {
    display: none;
  }
}
.nav-item {
  padding: 0px 10px;
}
.link-style {
  text-decoration: none;
  color: white;
}
.header-title {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    background-color: #212F3D;
    color: white;
}
.sub-title {
  color: white;
  /*font-style: italic;*/
  font-weight: 200;
  padding-top: 10px;
  background: #212F3D;
}
.hero-image {
  height: 200px;
  width: 100%;
  background-image: url("../img/night-sky.jpg");
  margin: 0;
}
.main {
    margin: 0 auto;
    /*max-width: 960px;*/
    /*padding: 0px 1.0875rem 1.45rem;*/
    padding-top: 0;
}
.main-content {
  padding-top: 20px;
}
.quote {
  /*float: left;*/
}
.quote-by {
  /*float: right;*/
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 85%;
}
.footer {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: #212F3D;
  padding: 20px;
  font-size: 80%;
  text-align: center;
}
.footer p {
  margin: 0;
  font-size: 80%;
}
.form-field {
  width: 100%;
  border: none;
  border-bottom: #212F3D solid 1px;
  margin: 5px;
  padding: 2px;
  font-size: 70%;
}
.send-button {
  margin: 20px auto;
  width: 100%;
  background-color: #DADADA;
  border-radius: 3px;
  font-size: 80%;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
